/**Tailwind directives, FA import, Google fonts**/
@tailwind base;
@tailwind components;
@tailwind utilities;

/** Fonts **/
* {
    font-family: 'Inter', sans-serif;
}

.brand-font {
    font-family: 'Darumadrop One', cursive;
}

/** Hide scrollbar **/
/** For Chrome **/
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.long-string-wrap {
    word-wrap: break-word;
    overflow-wrap: anywhere;
    word-break: keep-all;
}